# OS
.DS_Store
Thumbs.db

# IDE / Editor
.vscode/
.idea/
*.iml

# Logs & temp
*.log
*.tmp
*.swp

# Jupyter notebook 자동 생성 파일
.ipynb_checkpoints/
*.ipynb_checkpoints

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# 가상환경
.venv/
.env/
